In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.3.0)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [3]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from selenium.webdriver.common.by import By

In [116]:
# Q1 Code Finding Data Analyst data
# I am not able to access india Naukri.com, so have generated data using https://www.naukrigulf.com.
# Because if i have used nakri.com link its automatically redirecting to www.naukrigulf.com.
# I have facing in middle east for only naukri.com website
# Whichever related to naukri.com questions ,I have solved using https://www.naukrigulf.com & UAE data.

In [117]:
# Connect to webdriver
driver = webdriver.Chrome(r'C:\Users\COTMAC\Downloads\chromedriver_win32\chromedriver.exe')

In [118]:
url = 'https://www.naukri.com/'
driver.get(url)

In [119]:
English=driver.find_element(By.XPATH,"/html/body/div[1]/header/div[1]/div/nav/ul/li[1]/span")
English

In [120]:
English.click()

In [121]:
search_jobs=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/main/div[1]/div[1]/div")
search_jobs

In [122]:
search_jobs.click()

In [123]:
search_jobs1=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/form/div[1]/input")
search_jobs1

In [124]:
search_jobs1.send_keys("Data Analyst")

In [125]:
search_Location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/form/div[2]/input")
search_Location

In [126]:
# I am in out of india so i am not able to search india naukri.com link,its automatically opening naukrigulf website.
# So i have searched Saudi Arabia Location

search_Location.send_keys("UAE")

In [127]:
search_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/form/input")
search_btn

In [128]:
search_btn.click()

In [129]:
Job_Title = driver.find_elements(By.XPATH,'//h2[@class="designation-title"]')

In [130]:
len(Job_Title)

30

In [131]:
job_titles1=[]
for i in Job_Title:
    job_titles1.append(i.text)
    len(job_titles1)

In [134]:
job_titles1[0:10]

['Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Processor / Data Analyst / Customer Engagement Coordinator',
 'Sr. Data Analyst',
 'CRM Data Analyst | Al-Futtaim Digital Retail',
 'Data Analyst',
 'Data Analyst ( 4-6 Months Contract )']

In [135]:
Job_Company_Name = driver.find_elements(By.XPATH,'//a[@class="info-org"]')

In [136]:
len(Job_Company_Name)

21

In [137]:
Job_Company_Name1=[]
for i in Job_Company_Name:
    Job_Company_Name1.append(i.text)
    len(Job_Company_Name1)

In [138]:
Job_Company_Name1[0:10]

['Robt Stone (ME) LLC',
 'NEST Employment Services LLC',
 'TASC Outsourcing',
 'DULSCO LLC',
 'Deriv Services Ltd',
 'Smart Technology Services DWC LLC',
 'MELODICA MUSIC CENTER LLC',
 'Al Futtaim Private Company (LLC)',
 'PEGASUS EDUSOLUTIONS',
 'TASC Outsourcing']

In [139]:
Job_Company_Exp = driver.find_elements(By.XPATH,'//li[@class="info-exp "]')

In [140]:
len(Job_Company_Exp)

16

In [141]:
Job_Company_Exp1=[]
for i in Job_Company_Exp:
    Job_Company_Exp1.append(i.text)
    len(Job_Company_Exp1)

In [142]:
Job_Company_Exp1[0:10]

['5 - 10 Years',
 '4 - 8 Years',
 '3 - 8 Years',
 '2 - 8 Years',
 '4 - 5 Years',
 '1 - 3 Years',
 '1 - 6 Years',
 '4 - 9 Years',
 '1 - 3 Years',
 '2 - 8 Years']

In [143]:
Job_Company_Location = driver.find_elements(By.XPATH,'//li[@class="info-loc "]')

In [144]:
len(Job_Company_Location)

16

In [145]:
Job_Company_Location1=[]
for i in Job_Company_Location:
    Job_Company_Location1.append(i.text)
    len(Job_Company_Location1)

In [146]:
Job_Company_Location1[0:10]

['Abu Dhabi , Habshan - United Arab Emirates',
 'Dubai - United Arab Emirates',
 'Dubai - United Arab Emirates',
 'Dubai - United Arab Emirates',
 'Dubai - United Arab Emirates',
 'Dubai - United Arab Emirates',
 'Dubai - United Arab Emirates',
 'UAE - United Arab Emirates',
 'Dubai - United Arab Emirates',
 'UAE - United Arab Emirates']

In [150]:
len(job_titles1),len(Job_Company_Name1),len(Job_Company_Exp1),len(Job_Company_Location1)

(30, 21, 16, 16)

In [218]:
jobs = pd.DataFrame()
jobs['Job Title'] = job_titles1[0:10]
jobs['Company Name'] = Job_Company_Name1[0:10]
jobs['Job Location'] = Job_Company_Location1[0:10]
jobs['Job Experience'] = Job_Company_Exp1[0:10]
jobs

,Job Title,Company Name,Job Location,Job Experience
0,Data Analyst,Robt Stone (ME) LLC,"Abu Dhabi , Habshan - United Arab Emirates",5 - 10 Years
1,Data Analyst,NEST Employment Services LLC,Dubai - United Arab Emirates,4 - 8 Years
2,Data Analyst,TASC Outsourcing,Dubai - United Arab Emirates,3 - 8 Years
3,Data Analyst,DULSCO LLC,Dubai - United Arab Emirates,2 - 8 Years
4,Data Analyst,Deriv Services Ltd,Dubai - United Arab Emirates,4 - 5 Years
5,Processor / Data Analyst / Customer Engagement...,Smart Technology Services DWC LLC,Dubai - United Arab Emirates,1 - 3 Years
6,Sr. Data Analyst,MELODICA MUSIC CENTER LLC,Dubai - United Arab Emirates,1 - 6 Years
7,CRM Data Analyst | Al-Futtaim Digital Retail,Al Futtaim Private Company (LLC),UAE - United Arab Emirates,4 - 9 Years
8,Data Analyst,PEGASUS EDUSOLUTIONS,Dubai - United Arab Emirates,1 - 3 Years
9,Data Analyst ( 4-6 Months Contract ),TASC Outsourcing,UAE - United Arab Emirates,2 - 8 Years

In [152]:
# Q2 Code Finding Data Scientist Data

In [270]:
# Connect to webdriver
driver = webdriver.Chrome(r'C:\Users\COTMAC\Downloads\chromedriver_win32\chromedriver.exe')

In [271]:
url = 'https://www.naukri.com/'
driver.get(url)

In [272]:
English=driver.find_element(By.XPATH,"/html/body/div[1]/header/div[1]/div/nav/ul/li[1]/span")
English

In [273]:
English.click()

In [274]:
search_jobs=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/main/div[1]/div[1]/div")
search_jobs

In [275]:
search_jobs.click()

In [276]:
search_jobs1=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/form/div[1]/input")
search_jobs1

In [277]:
search_jobs1.send_keys("Data Scientist")

In [278]:
search_Location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/form/div[2]/input")
search_Location

In [279]:
search_Location.send_keys("UAE")

In [280]:
search_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/form/input")
search_btn

In [281]:
search_btn.click()

In [229]:
Title_Tags = driver.find_elements(By.XPATH,'//h2[@class="designation-title"]')

In [230]:
len(Title_Tags)

18

In [231]:
job_titles=[]
for i in Title_Tags:
    job_titles.append(i.text)
    len(job_titles)

In [192]:
job_titles

['Applied Data Scientist',
 'Data Scientist-One Year Renewal contract',
 'Lead Data Scientist/Machine Learning Engineer',
 'Senior Data Scientist - R/Python',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'LEAD DATA SCIENTIST',
 'Chief Marketing Officer',
 'Head of Programmatic',
 'Machine Learning Engineer',
 'Senior Engineer (m/f/x)',
 'Engagement Manager - Data Engineering',
 'Full Stack Engineer',
 'Search Engineering Director',
 'Software Development Manager _ Location: Dubai, UAE']

In [249]:
Company_Name2 = driver.find_elements(By.XPATH,'//p[@class="info-org "]')

In [250]:
len(Company_Name2)

9

In [251]:
job_Company_Name2=[]
for i in Company_Name2:
    job_Company_Name2.append(i.text)
    len(job_Company_Name2)

In [252]:
job_Company_Name2

['Confidential Company',
 'Alef Education',
 'MNR Solutions Private Limited',
 'Talent Arabia',
 'Client of Aventus Global Talent',
 'Datailer Technologies',
 'Think Markets',
 'Wavemaker',
 'Pinnacle Infotech']

In [253]:
Title_exp2 = driver.find_elements(By.XPATH,'//li[@class="info-exp "]')
len(Title_exp2)

9

In [254]:
job_exp2=[]
for i in Title_exp2:
    job_exp2.append(i.text)
    len(job_exp2)

In [255]:
job_exp2

['5 - 7 Years',
 '3 - 5 Years',
 '5 - 7 Years',
 '8 - 15 Years',
 '5 - 6 Years',
 '5 - 8 Years',
 '10 - 11 Years',
 '2 - 4 Years',
 '10 - 18 Years']

In [256]:
Title_Location2 = driver.find_elements(By.XPATH,'//li[@class="info-loc "]')
len(Title_Location2)

9

In [257]:
job_Location2=[]
for i in Title_Location2:
    job_Location2.append(i.text)
    len(job_Location2)

In [258]:
job_Location2

['Abu Dhabi - United Arab Emirates',
 'Abu Dhabi - United Arab Emirates',
 'Dubai - United Arab Emirates',
 'Dubai - United Arab Emirates',
 'Dubai - United Arab Emirates',
 'Abu Dhabi - United Arab Emirates',
 'Dubai - United Arab Emirates',
 'Dubai - United Arab Emirates',
 'Dubai - United Arab Emirates']

In [259]:
len(job_titles),len(job_Company_Name2),len(job_exp2),len(job_Location2)

(18, 9, 9, 9)

In [262]:
jobs = pd.DataFrame()
jobs['Job Title'] = job_titles[1:9]
jobs['Job Company Name'] = job_Company_Name2[1:9]
jobs['Job Experience'] = job_exp2[1:9]
jobs['Job Location'] = job_Location2[1:9]
jobs

,Job Title,Job Company Name,Job Experience,Job Location
0,Data Scientist-One Year Renewal contract,Alef Education,3 - 5 Years,Abu Dhabi - United Arab Emirates
1,Lead Data Scientist/Machine Learning Engineer,MNR Solutions Private Limited,5 - 7 Years,Dubai - United Arab Emirates
2,Senior Data Scientist - R/Python,Talent Arabia,8 - 15 Years,Dubai - United Arab Emirates
3,Data Scientist,Client of Aventus Global Talent,5 - 6 Years,Dubai - United Arab Emirates
4,Data Scientist,Datailer Technologies,5 - 8 Years,Abu Dhabi - United Arab Emirates
5,Data Scientist,Think Markets,10 - 11 Years,Dubai - United Arab Emirates
6,Data Scientist,Wavemaker,2 - 4 Years,Dubai - United Arab Emirates
7,Data Scientist,Pinnacle Infotech,10 - 18 Years,Dubai - United Arab Emirates

In [263]:
#Q3.Scrap data Scientist location & salary

# Due to Naukri.com india website not opening so i did salary check tickmark data for Naukrigulf.com website
#In this website Location tab is not availbale so i did only for salary check.

In [282]:
# Connect to webdriver
driver = webdriver.Chrome(r'C:\Users\COTMAC\Downloads\chromedriver_win32\chromedriver.exe')

In [283]:
url = 'https://www.naukrigulf.com/data-scientist-jobs-in-uae'
driver.get(url)

In [284]:
English=driver.find_element(By.XPATH,"/html/body/div[1]/header/div[1]/div/nav/ul/li[1]/span")
English

In [285]:
English.click()

In [290]:
Monthly_Sal=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/main/div/section[2]/div[1]/form/div[3]/div[6]/span")
Monthly_Sal

In [291]:
Monthly_Sal.click()

In [292]:
salary_check=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/main/div/section[2]/div[1]/form/div[3]/div[6]/ul/li[1]/label/span[2]")
salary_check

In [293]:
salary_check.click()

In [294]:
Refine_jobs=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/main/div/section[2]/div[1]/form/div[3]/button")
Refine_jobs

In [295]:
Refine_jobs.click()

In [297]:
Title_Tags3 = driver.find_elements(By.XPATH,'//h2[@class="designation-title"]')
len(Title_Tags3)

1

In [298]:
job_titles3=[]
for i in Title_Tags3:
    job_titles3.append(i.text)
    len(job_titles3)

In [299]:
job_titles3

['Data Scientist-One Year Renewal contract']

In [300]:
Title_Company_Name3 = driver.find_elements(By.XPATH,'//p[@class="info-org "]')
len(Title_Company_Name3)

1

In [302]:
job_Company_Name3=[]
for i in Title_Company_Name3:
    job_Company_Name3.append(i.text)
    len(job_Company_Name3)

In [303]:
job_Company_Name3

['Confidential Company']

In [304]:
Title_Exp3 = driver.find_elements(By.XPATH,'//li[@class="info-exp "]')
len(Title_Exp3)

1

In [306]:
job_Exp3=[]
for i in Title_Exp3:
    job_Exp3.append(i.text)
    len(job_Exp3)

In [307]:
job_Exp3

['5 - 7 Years']

In [311]:
Title_Location3 = driver.find_elements(By.XPATH,'//li[@class="info-loc "]')
len(Title_Location3)

1

In [312]:
job_Location3=[]
for i in Title_Location3:
    job_Location3.append(i.text)
    len(job_Location3)

In [313]:
job_Location3

['Abu Dhabi - United Arab Emirates']

In [314]:
len(job_titles3),len(job_Company_Name3),len(job_Exp3),len(job_Location3)

(1, 1, 1, 1)

In [316]:
Jobs = pd.DataFrame()
Jobs['Job Title'] = job_titles3
Jobs['Job Company Name'] = job_Company_Name3
Jobs['Job Experience'] = job_Exp3
Jobs['Job Location'] = job_Location3

In [317]:
Jobs

,Job Title,Job Company Name,Job Experience,Job Location
0,Data Scientist-One Year Renewal contract,Confidential Company,5 - 7 Years,Abu Dhabi - United Arab Emirates

In [318]:
#Q4 FlipKart Data scrap

In [431]:
# Connect to webdriver
driver = webdriver.Chrome(r'C:\Users\COTMAC\Downloads\chromedriver_win32\chromedriver.exe')

In [432]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [433]:
Close=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
Close

In [434]:
Close.click()

In [435]:
search_name=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search_name

In [436]:
search_name.send_keys("sunglasses")

In [440]:
search3=driver.find_element(By.XPATH,"/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search3

In [441]:
search3.click()

In [401]:
Sunglass_Name = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
len(Sunglass_Name)

40

In [402]:
Sunglass_Name1=[]
for i in Sunglass_Name:
    Sunglass_Name1.append(i.text)
    len(Sunglass_Name1)

In [403]:
Sunglass_Name1

['VINCENT CHASE',
 'GANSTA',
 'Fastrack',
 'DAHAAZIL',
 'New Specs',
 'Elligator',
 'PIRASO',
 'GANSTA',
 'Fastrack',
 'SRPM',
 'PIRASO',
 'Sewell',
 'PIRASO',
 'Fastrack',
 'SUNBEE',
 'IZAAN MART',
 'SUNBEE',
 'Lee Topper',
 'SHAAH COLLECTIONS',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Lee Topper',
 'ROYAL SON',
 'Fastrack',
 'PIRASO',
 'CRYSTAL CART',
 'ROZZETTA CRAFT',
 'PIRASO',
 'PIRASO',
 'Sewell',
 'ROYAL SON',
 'Fastrack',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'VINCENT CHASE',
 'ROZZETTA CRAFT']

In [356]:
Sunglass_Assured = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
len(Sunglass_Assured)

40

In [358]:
Sunglass_Assured1=[]
for i in Sunglass_Assured:
    Sunglass_Assured1.append(i.text)
    len(Sunglass_Assured)

In [359]:
Sunglass_Assured1

['UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Night Vision, Riding Glasses Wayfarer, W...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Cat-eye Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'UV Protection Wayfarer Sunglasses (32)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'Riding Glasses Wrap-around Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (52)',
 'Mirrored, Night Vision Oval Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Over-sized Sunglasses (65)',
 'UV Protection Round Sunglasses (Free Size)',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection Sports Sunglasses (62)',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (55)',
 'Others Wayfarer, Retro Square Sunglasses (50)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...']

In [360]:
Sunglass_Price = driver.find_elements(By.XPATH,'//a[@class="_3bPFwb"]')
len(Sunglass_Price)

40

In [362]:
Sunglass_Price1=[]
for i in Sunglass_Price:
    Sunglass_Price1.append(i.text)
    len(Sunglass_Price)

In [365]:
Sunglass_Price1

['₹639₹79920% off',
 '₹177₹99982% off',
 '₹264₹2,59989% off',
 '₹298₹2,49588% off',
 '₹224₹1,59985% off',
 '₹719₹99928% off',
 '₹211₹1,29983% off',
 '₹359₹2,59986% off',
 '₹224₹1,59985% off\nFree delivery',
 '₹639₹79920% off\nFree delivery',
 '₹246₹1,29981% off\nFree delivery',
 '₹268₹1,29979% off\nFree delivery',
 '₹229₹1,29982% off\nFree delivery',
 '₹185₹1,69989% off\nFree delivery',
 '₹499₹1,99975% off\nFree delivery',
 '₹226₹1,59985% off\nFree delivery',
 '₹639₹89928% off\nFree delivery',
 '₹1,039₹1,29920% off\nFree delivery',
 '₹299₹2,49988% off\nFree delivery',
 '₹306₹2,59988% off\nFree delivery',
 '₹189₹59968% off\nFree delivery',
 '₹246₹1,59984% off\nFree delivery',
 '₹265₹1,49982% off\nFree delivery',
 '₹719₹89920% off\nFree delivery',
 '₹319₹1,49978% off\nFree delivery',
 '₹349₹1,99982% off\nFree delivery',
 '₹949₹1,99952% off\nFree delivery',
 '₹410₹2,59984% off\nFree delivery',
 '₹265₹1,29979% off\nFree delivery',
 '₹1,009₹1,19915% off\nFree delivery',
 '₹326₹1,24573% off\nFree delivery',
 '₹299₹1,59981% off\nFree delivery',
 '₹219₹99978% off\nFree delivery',
 '₹246₹1,59984% off\nFree delivery',
 '₹207₹99979% off\nFree delivery',
 '₹207₹99879% off\nFree delivery',
 '₹268₹1,29979% off\nFree delivery',
 '₹499₹2,22577% off\nFree delivery',
 '₹214₹99978% off',
 '₹749₹2,50070% off']

In [366]:
Next_Button=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span")
Next_Button

In [368]:
Next_Button.click()

In [369]:
Sunglass_Name2 = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
len(Sunglass_Name2)

40

In [371]:
Sunglass_Name3=[]
for i in Sunglass_Name2:
    Sunglass_Name3.append(i.text)
    len(Sunglass_Name3)

In [372]:
Sunglass_Name3

['Fastrack',
 'ROYAL SON',
 'PHENOMENAL',
 'ROZZETTA CRAFT',
 'SRPM',
 'ROYAL SON',
 'kingsunglasses',
 'AISLIN',
 'PIRASO',
 'kingsunglasses',
 'Fastrack',
 'ROZZETTA CRAFT',
 'CRYSTAL CART',
 'Silver Kartz',
 'Singco India',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'DEIXELS',
 'Singco India',
 'Fastrack',
 'Elligator',
 'Rich Club',
 'ROYAL SON',
 'New Specs',
 'VINCENT CHASE',
 'LIZA ANGEL',
 'VINCENT CHASE',
 'LIZA ANGEL',
 'Fastrack',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'Singco India',
 'ROYAL SON',
 'VINCENT CHASE',
 'Fastrack',
 'Fastrack',
 'kingsunglasses',
 'GANSTA']

In [405]:
Sunglass_Assured2 = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
len(Sunglass_Assured2)

40

In [406]:
Sunglass_Assured3=[]
for i in Sunglass_Assured2:
    Sunglass_Assured3.append(i.text)
    len(Sunglass_Assured3)

In [407]:
Sunglass_Assured3

['UV Protection Sports Sunglasses (62)',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection Clubmaster Sunglasses (53)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'Mirrored Aviator Sunglasses (Free Size)',
 'Others Wayfarer, Retro Square Sunglasses (50)',
 'UV Protection Aviator Sunglasses (62)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'Riding Glasses, UV Protection, Others Aviator Sunglasse...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection, Mirrored, Gradient Rectangula...',
 'UV Protection Oval Sunglasses (56)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'Riding Glasses, Night Vision Spectacle Sunglasses (Fre...',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection, Mirrored Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (62)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection, Riding Glasses, Night Vision Spectacle ...',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'UV Protection Rectangular Sunglasses (52)']

In [379]:
Sunglass_Price2 = driver.find_elements(By.XPATH,'//a[@class="_3bPFwb"]')
len(Sunglass_Price2)

40

In [382]:
Sunglass_Price3=[]
for i in Sunglass_Price2:
    Sunglass_Price3.append(i.text)
    len(Sunglass_Price3)

In [383]:
Sunglass_Price3

['₹719₹89920% off',
 '₹379₹1,49974% off',
 '₹369₹1,99981% off\nFree delivery',
 '₹399₹1,99980% off',
 '₹207₹99979% off',
 '₹379₹1,49974% off',
 '₹269₹1,89985% off\nFree delivery',
 '₹704₹3,25078% off\nFree delivery',
 '₹223₹1,59986% off\nFree delivery',
 '₹213₹1,19982% off\nFree delivery',
 '₹799₹99920% off\nFree delivery',
 '₹399₹1,99980% off\nFree delivery',
 '₹529₹2,09974% off\nFree delivery',
 '₹288₹1,49980% off\nFree delivery',
 '₹629₹3,20080% off\nFree delivery',
 '₹649₹2,55574% off\nFree delivery',
 '₹399₹1,99980% off\nFree delivery',
 '₹265₹1,69984% off\nFree delivery',
 '₹236₹1,19980% off\nFree delivery',
 '₹220₹1,49985% off\nFree delivery',
 '₹719₹89920% off\nFree delivery',
 '₹379₹1,49974% off\nFree delivery',
 '₹260₹79967% off\nFree delivery',
 '₹664₹1,99966% off\nFree delivery',
 '₹268₹1,29979% off\nFree delivery',
 '₹1,099₹1,99945% off\nFree delivery',
 '₹169₹49966% off\nFree delivery',
 '₹799₹1,99960% off\nFree delivery',
 '₹179₹99982% off\nFree delivery',
 '₹639₹79920% off\nFree delivery',
 '₹749₹1,99962% off\nFree delivery',
 '₹649₹2,55574% off\nFree delivery',
 '₹664₹1,99966% off\nFree delivery',
 '₹567₹2,99981% off\nFree delivery',
 '₹699₹1,99965% off\nFree delivery',
 '₹649₹1,99967% off\nFree delivery',
 '₹849₹99915% off\nFree delivery',
 '₹719₹89920% off\nFree delivery',
 '₹189₹1,29985% off\nFree delivery',
 '₹314₹1,99984% off\nFree delivery']

In [385]:
Next_Button1=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span")
Next_Button1

In [386]:
Next_Button1.click()

In [387]:
Sunglass_Name4 = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
len(Sunglass_Name4)

40

In [388]:
Sunglass_Name5=[]
for i in Sunglass_Name4:
    Sunglass_Name5.append(i.text)
    len(Sunglass_Name5)

In [389]:
Sunglass_Name5

['ROYAL SON',
 'Mi',
 'Fastrack',
 'Singco India',
 'Elligator',
 'New Specs',
 'AISLIN',
 'VINCENT CHASE',
 'ROYAL SON',
 'Roadster',
 'LIZA ANGEL',
 'ROZZETTA CRAFT',
 'Mi',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'AISLIN',
 'kingsunglasses',
 'SRPM',
 'PIRASO',
 'DEIXELS',
 'Fastrack',
 'Fastrack',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'HAMIW COLLECTION',
 'Fastrack',
 'New Specs',
 'ROYAL SON',
 'VINCENT CHASE',
 'kingsunglasses',
 'GANSTA',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'Fastrack',
 'ROYAL SON',
 'Silver Kartz',
 'Singco India',
 'kingsunglasses',
 'kingsunglasses',
 'GANSTA']

In [390]:
Sunglass_Assured4 = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
len(Sunglass_Assured4)

40

In [391]:
Sunglass_Assured5=[]
for i in Sunglass_Assured4:
    Sunglass_Assured5.append(i.text)
    len(Sunglass_Assured5)

In [392]:
Sunglass_Assured5

['Mirrored Aviator Sunglasses (58)',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (55)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection Retro Square, Round Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Oval Sunglasses (58)',
 'UV Protection, Night Vision, Riding Glasses Round Sungl...',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'Polarized Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection, Gradient Wayfarer Sunglasses (55)',
 'UV Protection Wrap-around, Rectangular Sunglasses (56)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'Night Vision, UV Protection Round Sunglasses (54)',
 'UV Protection Butterfly Sunglasses (60)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'Polarized Rectangular Sunglasses (60)',
 'UV Protection Aviator Sunglasses (62)',
 'UV Protection Wayfarer, Sports, Shield, Rectangular, Re...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Over-sized Sunglasses (59)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'Mirrored, UV Protection Wayfarer, Rectangular Sunglasse...',
 'UV Protection, Riding Glasses Aviator Sunglasses (57)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection Sports Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly Sunglasses (52)',
 'UV Protection Oval Sunglasses (56)',
 'Riding Glasses, UV Protection, Others Aviator Sunglasse...',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection, Night Vision Wayfarer Sunglasses (Free S...',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...']

In [393]:
Sunglass_Price4 = driver.find_elements(By.XPATH,'//a[@class="_3bPFwb"]')
len(Sunglass_Price4)

40

In [394]:
Sunglass_Price5=[]
for i in Sunglass_Price4:
    Sunglass_Price5.append(i.text)
    len(Sunglass_Price5)

In [395]:
Sunglass_Price5

['₹379₹1,49974% off\nFree delivery',
 '₹949₹1,19920% off\nFree delivery',
 '₹979₹9992% off\nFree delivery',
 '₹567₹2,99981% off\nFree delivery',
 '₹329₹1,99983% off\nFree delivery',
 '₹189₹1,59988% off\nFree delivery',
 '₹498₹1,52567% off\nFree delivery',
 '₹749₹1,99962% off\nFree delivery',
 '₹379₹1,49974% off\nFree delivery',
 '₹649₹99935% off\nFree delivery',
 '₹199₹79975% off\nFree delivery',
 '₹399₹1,99980% off\nFree delivery',
 '₹849₹99915% off\nFree delivery',
 '₹399₹1,99980% off',
 '₹217₹99978% off\nFree delivery',
 '₹845₹3,25074% off\nFree delivery',
 '₹269₹1,49982% off\nFree delivery',
 '₹233₹99976% off\nFree delivery',
 '₹405₹2,59984% off\nFree delivery',
 '₹236₹1,19980% off\nFree delivery',
 '₹809₹89910% off\nFree delivery',
 '₹721₹7999% off\nFree delivery',
 '₹664₹1,99966% off\nFree delivery',
 '₹649₹2,55574% off\nFree delivery',
 '₹219₹1,99989% off\nFree delivery',
 '₹1,169₹1,29910% off\nFree delivery',
 '₹214₹1,59986% off\nFree delivery',
 '₹664₹1,99966% off\nFree delivery',
 '₹949₹1,99952% off\nFree delivery',
 '₹289₹1,99985% off\nFree delivery',
 '₹314₹1,99984% off\nFree delivery',
 '₹799₹1,99960% off\nFree delivery',
 '₹949₹1,99952% off\nFree delivery',
 '₹759₹89915% off\nFree delivery',
 '₹664₹1,99966% off\nFree delivery',
 '₹314₹1,19973% off\nFree delivery',
 '₹220₹1,49985% off\nFree delivery',
 '₹269₹1,49982% off\nFree delivery',
 '₹299₹1,69982% off\nFree delivery',
 '₹314₹1,99984% off\nFree delivery']

In [408]:
len(Sunglass_Name1),len(Sunglass_Assured1),len(Sunglass_Price1),len(Sunglass_Name3),len(Sunglass_Assured3),len(Sunglass_Price3),len(Sunglass_Name5),len(Sunglass_Assured5),len(Sunglass_Price5)

(40, 40, 40, 40, 40, 40, 40, 40, 40)

In [1]:
#Q5. Scrap iphone-11 data
# I am not able to scrap data for iphone11.Its giving output '0'.But in inspect if seacrh valuits showing value count.
# If possible share me the code for this question

In [84]:
# Connect to webdriver
driver = webdriver.Chrome(r'C:\Users\COTMAC\Downloads\chromedriver_win32\chromedriver.exe')

In [85]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [86]:
Close=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
Close

In [87]:
Close.click()

In [88]:
search_name=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search_name

In [89]:
search_name.send_keys("iphone 11")

In [90]:
search4=driver.find_element(By.XPATH,"/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search4

In [93]:
search4.click()

In [94]:
iphone_click=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[2]/div[1]/div[1]")
iphone_click

In [95]:
iphone_click.click()

In [99]:
Rating=driver.find_elements(By.XPATH,'//img[@class="_1wB99o"]')
len(Rating)

24

In [104]:
Rating1=[]
for i in Rating:
    Rating1.append(i['src'])
    len(Rating1)

TypeError: 'WebElement' object is not subscriptable

In [106]:
Rating1=[]
for i in Rating:
    Rating1.append(i.text)
    len(Rating1)

In [107]:
Rating1

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [105]:
Review_Summary = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
len(Review_Summary)

0

In [64]:
Full_Review_Summary = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
len(Full_Review_Summary)

0

In [65]:
#Q6. Sneaker shoes data
# Connect to webdriver
driver = webdriver.Chrome(r'C:\Users\COTMAC\Downloads\chromedriver_win32\chromedriver.exe')

In [66]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [67]:
Close=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
Close

In [68]:
Close.click()

In [69]:
search_name=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search_name

In [70]:
search_name.send_keys("sneakers")

In [71]:
search5=driver.find_element(By.XPATH,"/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search5

In [72]:
search5.click()

In [77]:
Brand = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
len(Brand)

40

In [78]:
Brand_Name=[]
for i in Brand:
    Brand_Name.append(i.text)
    len(Brand_Name)

In [79]:
Brand_Name

['KWIK FIT',
 'aadi',
 'WOODLAND',
 'BRUTON',
 'BRUTON',
 'Magnolia',
 'URBANBOX',
 'ROCKFIELD',
 'Labbin',
 'BIRDE',
 'aadi',
 'STRANGER BROTHERS',
 'BIRDE',
 'ONECENTRE',
 'PUMA',
 'aadi',
 'SFR',
 'HOTSTYLE',
 'corsac',
 'Bonexy',
 'ASTEROID',
 'PEXLO',
 'CLYMB',
 'ADDOP',
 'KWIK FIT',
 'Chevit',
 'BRUTON',
 'ROCKFIELD',
 'SCATCHITE',
 'BIRDE',
 'Kraasa',
 'Bonexy',
 'Kraasa',
 'Kraasa',
 'Robbie jones',
 'ROCKFIELD',
 'Kzaara',
 'BIRDE',
 'D-SNEAKERZ',
 'ROCKFIELD']

In [80]:
Product_Desc = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
len(Product_Desc)

35

In [81]:
Product_Desc1=[]
for i in Product_Desc:
    Product_Desc1.append(i.text)
    len(Product_Desc1)

In [82]:
Product_Desc1

['Sneakers For Men',
 'Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'STR2 Sneakers For Men',
 'Puma Smash v2 L Sneakers For Men',
 'Synthetic Leather Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'STYLISH MENS BLACK SNEAKER Sneakers For Men',
 'Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Combo Pack of 3 Casual Shoes, Sneakers For Men',
 'Sneakers For Men',
 'Kwik FIT casual sneaker shoes and partywear shoes Casua...',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Sneaker Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Casual Walk...',
 'Shark-41 Sneakers For Men',
 'Casuals, Canvas, Partywear Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Casual Sneakers Canvas Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sports Running Shoes Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Sneakers For Men']

In [83]:
Price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
len(Price)

40

In [84]:
Price1=[]
for i in Price:
    Price1.append(i.text)
    len(Price1)

In [85]:
Price1

['₹499',
 '₹399',
 '₹2,096',
 '₹269',
 '₹299',
 '₹449',
 '₹198',
 '₹474',
 '₹499',
 '₹378',
 '₹319',
 '₹496',
 '₹335',
 '₹299',
 '₹1,763',
 '₹479',
 '₹289',
 '₹258',
 '₹499',
 '₹569',
 '₹474',
 '₹561',
 '₹616',
 '₹799',
 '₹397',
 '₹649',
 '₹269',
 '₹569',
 '₹399',
 '₹335',
 '₹479',
 '₹699',
 '₹479',
 '₹479',
 '₹499',
 '₹569',
 '₹259',
 '₹249',
 '₹299',
 '₹699']

In [86]:
Next_Button=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span")
Next_Button

In [87]:
Next_Button.click()

In [91]:
Brand2 = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
len(Brand2)

40

In [92]:
Brand_Name1=[]
for i in Brand2:
    Brand_Name1.append(i.text)
    len(Brand_Name1)

In [93]:
Brand_Name1

['D-SNEAKERZ',
 'BRUTON',
 'aadi',
 'Numenzo',
 'Noztile',
 'BRUTON',
 'KNIGHT WALKERS',
 'luxury fashion',
 'PUMA',
 'Rzisbo',
 'Dizzler',
 'TR',
 'DUKE',
 'Magnolia',
 'WHITE WALKERS',
 'Numenzo',
 'SPARX',
 'PUMA',
 'Airland',
 'HOTSTYLE',
 'Shoes Bank',
 'Airland',
 'Chevit',
 'CALCADOS',
 'ASTEROID',
 'India hub',
 'Numenzo',
 'STRANGER BROTHERS',
 'LE GREEM',
 'luxury fashion',
 'T-ROCK',
 'Bacan',
 'Stinson',
 'Numenzo',
 'URBANBOX',
 'Scull Wings',
 'ROCKFIELD',
 'AMICO',
 'aadi',
 'SPARX']

In [94]:
Product_Desc2 = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
len(Product_Desc2)

32

In [95]:
Product_Desc3=[]
for i in Product_Desc2:
    Product_Desc3.append(i.text)
    len(Product_Desc3)

In [96]:
Product_Desc3

["Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Lattest Sneakers Shoe Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Lightweight Pack Of 1 Trendy Sneakers Sneakers For Men',
 'SS1100 Sneakers For Men',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Puma Smash v2 L Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Sneakers For Men',
 'ST Activate V2 Sneakers For Men',
 '1259 smart black lace-ups sneakers for men Sneakers For...',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'sneaker men red 1258 - 8 Sneakers For Men',
 "Men's Combo Pack of 02 Shoes for Men Casual Sneakers Ou...",
 'Original Luxury Branded Black Fancy Casual Walking Part...',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Sneakers For Men',
 'Comfortable & Ultra Light Weight Sneaker Sneakers For M...',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Stylish Party Wear Casual Sneakers Shoes For Men Sneake...',
 'Sneakers For Men',
 '411 Casual Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Mesh | Ultralightweight | Comfortable | Breathable Walk...',
 'SM-641 Sneakers For Men']

In [97]:
Price2 = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
len(Price2)

40

In [98]:
Price3=[]
for i in Price2:
    Price3.append(i.text)
    len(Price3)

In [99]:
Price3

['₹299',
 '₹269',
 '₹299',
 '₹494',
 '₹399',
 '₹199',
 '₹699',
 '₹379',
 '₹2,036',
 '₹521',
 '₹449',
 '₹419',
 '₹1,318',
 '₹449',
 '₹599',
 '₹494',
 '₹714',
 '₹1,574',
 '₹239',
 '₹195',
 '₹298',
 '₹246',
 '₹466',
 '₹548',
 '₹474',
 '₹397',
 '₹539',
 '₹496',
 '₹499',
 '₹399',
 '₹699',
 '₹526',
 '₹229',
 '₹450',
 '₹179',
 '₹496',
 '₹284',
 '₹549',
 '₹799',
 '₹1,218']

In [100]:
Next_Button1=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span")
Next_Button1

In [101]:
Next_Button1.click()

In [102]:
Brand3 = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
len(Brand3)

40

In [103]:
Brand_Name2=[]
for i in Brand3:
    Brand_Name2.append(i.text)
    len(Brand_Name2)

In [104]:
Brand_Name2

['BIRDE',
 'PEXLO',
 'WHITE WALKERS',
 'Arivo',
 'aadi',
 'Robbie jones',
 'AMICO',
 'India hub',
 'aadi',
 'Eiffel',
 'Xtoon',
 'LE GREEM',
 'KNIGHT WALKERS',
 'PUMA',
 'Layasa',
 'PUMA',
 'WHITE WALKERS',
 'Roadster',
 'Aragats',
 'KWIK FIT',
 'ADIDAS ORIGINALS',
 'PUMA',
 'Nobelite',
 'Zorth',
 'Robbie jones',
 'PUMA',
 'BRUTON',
 'Roadster',
 'BRUTON',
 'SPARX',
 'Magnolia',
 'LE GREEM',
 'Robbie jones',
 'ZF Klub',
 'RapidBox',
 'SPARX',
 "K' Footlance",
 'PUMA',
 'U.S. POLO ASSN.',
 'AMICO']

In [105]:
Product_Desc4 = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
len(Product_Desc4)

33

In [106]:
Product_Desc5=[]
for i in Product_Desc4:
    Product_Desc5.append(i.text)
    len(Product_Desc5)

In [107]:
Product_Desc5

['Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'Combo Pack of 3 Casual Shoes Sneakers For Men',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Sneakers For Men',
 'Casual Sneakers White Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Sneakers For Men',
 "White casual, gym,training & Running sneakers for men's...",
 'Comfortable & Ultra Light Weight Sneaker Sneakers For M...',
 'Brave Sneakers For Men',
 'Sneakers For Men',
 'Ferrari Electron E Pro Sneakers For Men',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Sneakers For Men',
 'Casual Sneakers For Men',
 'SUPERSTAR Sneakers For Men',
 'Men & Boys Stylish, Comfortable AirMix Sole for Gyming/...',
 'Sneakers For Men',
 'R78 Sneakers For Men',
 'Combo Pack Of 2 Latest Stylish Casual Shoes for Men Lac...',
 'Men Blue Solid Sneakers Sneakers For Men',
 'Exclusive Sneaker Shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Comfortable & Smart Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'SM-322 Sneakers For Men',
 'Fashion and Stylish Soft Ultralight Lace Up Sneakers Ca...',
 'x KL Denver Sneakers For Men',
 'CLARKIN Sneakers For Men',
 'Sneakers For Men']

In [108]:
Price4 = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
len(Price4)

40

In [109]:
Price5=[]
for i in Price4:
    Price5.append(i.text)
    len(Price5)

In [110]:
Price5

['₹419',
 '₹670',
 '₹599',
 '₹599',
 '₹399',
 '₹499',
 '₹521',
 '₹397',
 '₹319',
 '₹388',
 '₹499',
 '₹499',
 '₹699',
 '₹1,484',
 '₹399',
 '₹3,704',
 '₹599',
 '₹1,135',
 '₹521',
 '₹499',
 '₹3,849',
 '₹1,899',
 '₹398',
 '₹495',
 '₹499',
 '₹2,339',
 '₹499',
 '₹1,395',
 '₹299',
 '₹725',
 '₹449',
 '₹499',
 '₹499',
 '₹399',
 '₹630',
 '₹824',
 '₹384',
 '₹2,279',
 '₹1,799',
 '₹549']

In [111]:
#Q7.scrap Shoes Data
# Connect to webdriver
driver = webdriver.Chrome(r'C:\Users\COTMAC\Downloads\chromedriver_win32\chromedriver.exe')

In [112]:
url = 'https://www.myntra.com/shoes/'
driver.get(url)

In [113]:
Price_Select=driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label")
Price_Select

In [114]:
Price_Select.click()

In [115]:
Color_Select=driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
Color_Select

In [116]:
Color_Select.click()

In [117]:
Shoe_Title = driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
len(Shoe_Title)

50

In [118]:
Shoe_Title1=[]
for i in Shoe_Title:
    Shoe_Title1.append(i.text)
    len(Shoe_Title1)

In [119]:
Shoe_Title1

['Nike',
 'ALDO',
 'Hush Puppies',
 'ADIDAS',
 'Nike',
 'Nike',
 'Puma',
 'Nike',
 'UNDER ARMOUR',
 'Nike',
 'Puma',
 'Skechers',
 'ADIDAS',
 'Geox',
 'Puma',
 'Skechers',
 'ADIDAS',
 'Skechers',
 'ADIDAS',
 'Puma',
 'ADIDAS Originals',
 'ADIDAS',
 'ADIDAS',
 'UNDER ARMOUR',
 'Geox',
 'New Balance',
 'ADIDAS',
 'Puma',
 'Geox',
 'PUMA Hoops',
 'Saint G',
 'Tommy Hilfiger',
 'Saint G',
 'Hush Puppies',
 'Clarks',
 'New Balance',
 'Puma',
 'Columbia',
 'Puma',
 'Hush Puppies',
 'Puma',
 'Puma',
 'UNDER ARMOUR',
 'Puma',
 'Saint G',
 'ASICS',
 'Columbia',
 'Geox',
 'ADIDAS',
 'Hush Puppies']

In [120]:
Shoe_Desc = driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
len(Shoe_Desc)

50

In [121]:
Shoe_Desc1=[]
for i in Shoe_Desc:
    Shoe_Desc1.append(i.text)
    len(Shoe_Desc1)

In [122]:
Shoe_Desc1

['Men React Infinity 3 Running',
 'Men Leather Loafers',
 'Men Solid Leather Formal Slip-Ons',
 'Men Defiant Generation Tennis',
 'Men SRG 3 FK Training Shoes',
 'Women React Escape Running',
 'Unisex TRC Blaze Sneakers',
 'Women React MR 3 Running Shoes',
 'Men HOVR Sonic SE Running Shoe',
 'Women Free Metcon 4 Training',
 'Men RS-Z Molded Men Sneakers',
 'Men ENIGMA Running Shoes',
 'Women Eastrail 2 Hiking Shoes',
 'Men Lightweight Sneakers',
 'Eternity Nitro Running Shoes',
 'Men Sky Vault Walking Shoes',
 'Men Solar Glide 4 ST Running',
 'Men MAX CUSHIONING ELITE-LUCID',
 'Men Supernova 2 Running Shoes',
 'Men FUSE Performance Training',
 'Men Solid Oznova Sneakers',
 'Men Adizero Boston 11 Running',
 'Women SL20.3 Running Shoes',
 'Women Hovr Sonic SE Run Shoes',
 'Men Leather Sneakers',
 'Men Woven Design Suede Sneakers',
 'Women SN1997 Running Shoes',
 'Unisex Wild Rider Sneakers',
 'Men Leather Sneakers',
 'Men TRC Blaze Basketball Shoes',
 'Leather Block',
 'Men Solid Sneakers',
 'Leather High-Top Heeled Boots',
 'Men Formal Derbys',
 'Men Leather Slip-Ons',
 'Men Woven Design Suede Sneakers',
 'Men Deviate Nitro Shoes',
 'PEAKFREAK OUTDRY Trekking Shoe',
 'Men M Nitro Running Shoess',
 'Men Solid Leather Formal Slip-Ons',
 'Men Velocity Nitro 2 Running',
 'Women Electrify Nitro Running',
 'Women Charged Breeze Running',
 'Women Eternity NITRO Shoes',
 'Leather Ankle Boots',
 'Men GEL-Quantum 360 6 Sports',
 'Men FACET OUTDRY Trekking Shoe',
 'Leather Block Sandals',
 'Women KarlieKlossX9000 Running',
 'Men Solid Formal Slip-Ons']

In [123]:
Shoe_Price = driver.find_elements(By.XPATH,'//div[@class="product-price"]')
len(Shoe_Price)

50

In [124]:
Shoe_Price1=[]
for i in Shoe_Price:
    Shoe_Price1.append(i.text)
    len(Shoe_Price1)

In [125]:
Shoe_Price1

['Rs. 11196Rs. 13995(20% OFF)',
 'Rs. 7799Rs. 12999(40% OFF)',
 'Rs. 7649Rs. 8999(15% OFF)',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 8895',
 'Rs. 9196Rs. 11495(20% OFF)',
 'Rs. 7499Rs. 9999(25% OFF)',
 'Rs. 8396Rs. 10495(20% OFF)',
 'Rs. 9999',
 'Rs. 8796Rs. 10995(20% OFF)',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 7599Rs. 9499(20% OFF)',
 'Rs. 7199Rs. 7999(10% OFF)',
 'Rs. 11990',
 'Rs. 9749Rs. 12999(25% OFF)',
 'Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 11999Rs. 14999(20% OFF)',
 'Rs. 7599Rs. 9499(20% OFF)',
 'Rs. 9999',
 'Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 10799Rs. 11999(10% OFF)',
 'Rs. 11199Rs. 13999(20% OFF)',
 'Rs. 10199Rs. 11999(15% OFF)',
 'Rs. 9999',
 'Rs. 12591Rs. 13990(10% OFF)',
 'Rs. 7799Rs. 12999(40% OFF)',
 'Rs. 11049Rs. 12999(15% OFF)',
 'Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 9891Rs. 10990(10% OFF)',
 'Rs. 8249Rs. 10999(25% OFF)',
 'Rs. 9975Rs. 10500(5% OFF)',
 'Rs. 7599',
 'Rs. 11875Rs. 12500(5% OFF)',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 7899Rs. 9999(21% OFF)',
 'Rs. 7799Rs. 12999(40% OFF)',
 'Rs. 10499Rs. 14999(30% OFF)',
 'Rs. 9999',
 'Rs. 9099Rs. 12999(30% OFF)',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 8249Rs. 10999(25% OFF)',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 8999',
 'Rs. 9749Rs. 12999(25% OFF)',
 'Rs. 9405Rs. 9900(5% OFF)',
 'Rs. 11199Rs. 13999(20% OFF)',
 'Rs. 12999',
 'Rs. 7693Rs. 10990(30% OFF)',
 'Rs. 13999',
 'Rs. 9999']

In [126]:
Next_Button=driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a")
Next_Button

In [127]:
Next_Button.click()

In [136]:
Shoe_Title2 = driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
len(Shoe_Title2)

50

In [137]:
Shoe_Title3=[]
for i in Shoe_Title2:
    Shoe_Title3.append(i.text)
    len(Shoe_Title3)

In [138]:
Shoe_Title3

['Hush Puppies',
 'Geox',
 'fitflop',
 'ADIDAS Originals',
 'fitflop',
 'UNDER ARMOUR',
 'Geox',
 'TRIBAN By Decathlon',
 'Puma',
 'Columbia',
 'Puma',
 'Geox',
 'Skechers',
 'ASICS',
 'PUMA Hoops',
 'TOMS',
 'Puma',
 'Geox',
 'Bugatti',
 'TOMS',
 'J.FONTINI',
 'Cole Haan',
 'ROSSO BRUNELLO',
 'ADIDAS Originals',
 'Louis Philippe',
 'J.FONTINI',
 'Columbia',
 'Bugatti',
 'J.FONTINI',
 'Clarks',
 'Saint G',
 'Saint G',
 'Saint G',
 'DAVINCHI',
 'J.FONTINI',
 'Geox',
 'Geox',
 'Geox',
 'Geox',
 'Geox',
 'fitflop',
 'fitflop',
 'Columbia',
 'fitflop',
 'Puma',
 'ADIDAS',
 'ASICS',
 'ADIDAS',
 'Geox',
 'J.FONTINI']

In [139]:
Shoe_Desc2 = driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
len(Shoe_Desc2)

50

In [131]:
Shoe_Desc3=[]
for i in Shoe_Desc2:
    Shoe_Desc3.append(i.text)
    len(Shoe_Desc3)

In [132]:
Shoe_Desc3

['Men Solid Formal Slip-Ons',
 'Men Perforations Sneakers',
 'Embellished Leather Wedge Sandals',
 'Women Ozelia Sneakers',
 'Flatform Sandals with Buckles',
 'W omen TriBase Reign 4 Running',
 'Men Leather Sneakers',
 'Unisex Training or Gym Shoes',
 'Women Magnify Nitro Running',
 'Women Trekking Shoes',
 'Men Velocity Nitro Running',
 'Men Leather Sneakers',
 'Men Textured Sneakers',
 'Women Running Shoes',
 'Fives Blaze Court Basketball',
 'Men Alpargata Slip-On Sneakers',
 'Unisex KING Pro 21 Football',
 'Men Leather Sneakers',
 'Men Textured Leather High-Top Flat Boots',
 'Men Sneakers',
 'Men Leather Fashion',
 'Men GENERATION ZEROGRAND STITCHLITE',
 'Men Perforations Leather Slip-On Sneakers',
 'Men Ozweego Sneakers',
 'Men Textured Leather Loafers',
 'Men Solid Loafers',
 'Cascade Peak II Jacket',
 'Men Black Formal Derby Shoes',
 'Men Textured Leather Loafers',
 'Men Woven Design Suede Flat Boots',
 'Men Leather Chelsea Boots',
 'Leather Block Sandals',
 'Men Solid Leather Formal Boots',
 'Men Textured Formal Leather Loafers',
 'Men Textured Leather Formal Loafers',
 'Textured Leather Block Pumps',
 'Leather Block Pumps',
 'Women Leather Sneakers',
 'Women Ballerinas Flats',
 'Women Leather Slip-On Sneakers',
 'Leather Flatform Sandals',
 'Embellished Leather Flatform Sandals',
 'Women REDMOND V2 TrekkingShoe',
 'Embellished PU Comfort Pumps',
 'Women Running Sports Shoes',
 'Women X9000 H.RDY Running',
 'Men GEL-GLYDE 3 MX Running',
 'Women Supernova Running Shoes',
 'Men Solid Slip-On Sneakers',
 'Men Textured Leather Loafers']

In [133]:
Shoe_Price2 = driver.find_elements(By.XPATH,'//div[@class="product-price"]')
len(Shoe_Price2)

50

In [134]:
Shoe_Price3=[]
for i in Shoe_Price2:
    Shoe_Price3.append(i.text)
    len(Shoe_Price3)

In [135]:
Shoe_Price3

['Rs. 9999',
 'Rs. 12591Rs. 13990(10% OFF)',
 'Rs. 7499',
 'Rs. 9349Rs. 10999(15% OFF)',
 'Rs. 7499',
 'Rs. 11999',
 'Rs. 12990',
 'Rs. 9459Rs. 10999(14% OFF)',
 'Rs. 9099Rs. 12999(30% OFF)',
 'Rs. 8999',
 'Rs. 9599Rs. 11999(20% OFF)',
 'Rs. 13990',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 8249Rs. 10999(25% OFF)',
 'Rs. 7199Rs. 7999(10% OFF)',
 'Rs. 7499Rs. 9999(25% OFF)',
 'Rs. 12990',
 'Rs. 7199Rs. 11999(40% OFF)',
 'Rs. 7199Rs. 7999(10% OFF)',
 'Rs. 8490',
 'Rs. 11999',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 9899Rs. 10999(10% OFF)',
 'Rs. 9999',
 'Rs. 8990',
 'Rs. 7999',
 'Rs. 11999',
 'Rs. 7990',
 'Rs. 7899Rs. 9999(21% OFF)',
 'Rs. 10710Rs. 11900(10% OFF)',
 'Rs. 9810Rs. 10900(10% OFF)',
 'Rs. 9900Rs. 12500(Rs. 2600 OFF)',
 'Rs. 8990',
 'Rs. 8990',
 'Rs. 8393Rs. 11990(30% OFF)',
 'Rs. 8393Rs. 11990(30% OFF)',
 'Rs. 12990',
 'Rs. 9891Rs. 10990(10% OFF)',
 'Rs. 7693Rs. 10990(30% OFF)',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 7499',
 'Rs. 10499Rs. 14999(30% OFF)',
 'Rs. 13999',
 'Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 12591Rs. 13990(10% OFF)',
 'Rs. 8490']

In [140]:
#Q8.scrap the laptop data

In [60]:
# Connect to webdriver
driver = webdriver.Chrome(r'C:\Users\COTMAC\Downloads\chromedriver_win32\chromedriver.exe')

In [61]:
url = 'https://www.amazon.in/'
driver.get(url)

In [62]:
name=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
name

In [63]:
name.send_keys("Laptop")

In [64]:
search4=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search4

In [65]:
search4.click()

In [66]:
cpu_type=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[2]/li[14]/span/a/div/label/i")
cpu_type

In [67]:
cpu_type.click()

In [68]:
Laptop_Title = driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
len(Laptop_Title)

24

In [69]:
Laptop_Title1=[]
for i in Laptop_Title:
    Laptop_Title1.append(i.text)
    len(Laptop_Title1)

In [70]:
Laptop_Title1

["Dell New Inspiron 3521 Laptop, Intel Pqc-N5030, Windows 11 + Office'21, 8Gb Gddr4, 256Gb Ssd, 15.6 Inches (39.62Cms) Hd Ag (D560756Win9Be, 1.61Kgs)",
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cm) HD, Intel Pentium Silver N6000 Quad Core, Thin and Light Laptop (8GB/256GB SSD/Office 2021/Windows 11/Integrated Graphics/Silver/1.5 kg), X415KA-BV121WS',
 'Acer Extensa 15 Thin & Light Intel Processor Pentium Silver N5030 15.6 inches ( 39 cm ) Business Laptop (4GB RAM/256 GB SSD/Windows 11 Home/Black/1.9 Kg, EX215-31)',
 'Microsoft Surface GO 3 8VA-00013 10.5" (26.67 cms) Laptop (Intel Pentium T6600 Processor/8GB/128GB SSD/Windows 11 Home), Platinum',
 'Hp 14S-Intel Pentium Silver N6000- 8Gb Ram/256Gb Ssd 14 Inches (35.6Cm) Hd, Micro-Edge Display (Uhd Graphics/Alexa/Dual Speakers/Fast Charge/Windows 11 Home/Ms Office), 14S- Dq3033Tu,Jet Black',
 'Acer Travelmate Intel® Pentium® Gold 7505 Processor 15.6 inches Display HD 1366 x 768 Business Laptop (4GB Ram/1TB HDD/Windows 11 Home/Intel UHD Graphics/Black/1.8 Kg), TMP215-53',
 'Acer Travelmate Business Laptop Intel Pentium N5030 Quad-core Processor ( 4GB DDR4/ 128GB SSD /UHD Graphics/ Windows 11 Home/Spill Resistant Keyboard) TMB311-31 with 29.4 cm (11.6 Inches) HD Display',
 'ASUS Windows 11 Home VivoBook 13 Slate OLED, Intel Pentium Silver N6000, 13.3 Inches - FHD OLED Touch 2-in-1 Laptop (8GB/256GB SSD/Office 2021/Win 11/Black), T3300KA-LQ111WS',
 '(Renewed) ASUS VivoBook 13 Slate OLED, Intel Pentium Silver N6000, 13.3-inch (33.8 cms) FHD OLED Touch 2-in-1 Laptop (4GB/128GB eMMC/Office 2021/Win 11/Black), T3300KA-LQ122WS',
 'ASUS EeeBook 14 Pentium Silver - (8 GB/256 GB SSD/Windows 11 Home) E410KA-BV103WS Thin and Light Laptop (14 Inch, Star Black, 1.30 kg, with MS Office)',
 'Acer Extensa 15 Thin & Light Laptop Intel Processor Pentium Silver N5030 15.6 inches HD Display (4GB RAM/256 GB SSD/Windows 10 Home/Integrated Graphic Card/Black/1.9 Kg, EX215-31)',
 'Asus Pentium Quad Intel Core - (4 Gb/1 Tb Hdd/Windows 10 Home) X543Ma-Dm101T Laptop (15.6 Inches, Transparent Silver, 1.90 Kg)',
 '(Renewed) ASUS Windows 11 Home VivoBook 13 Slate OLED, Intel Pentium Silver N6000, 13.3 Inches - FHD OLED Touch 2-in-1 Laptop (8GB/256GB SSD/Office 2021/Win 11/Black), T3300KA-LQ111WS',
 'Acer Extensa 15 Intel Processor Pentium Silver N5030 15.6 inches Thin and Light Business Laptop (4GB RAM/1TB HDD/Windows 11 Home/Black/1.9Kg, EX215-31)',
 'Asus Laptop E410Ka-Ek101Ws Intel Pqc-N6000//8G/256 Pcie Ssd/Peacock Blue/14 Inches Fhd/Windows 1Y International Warranty + Mcafee/11 + Office H&S/Numberpad',
 'Microsoft Surface GO 2 STQ-00013 10.1" (26.54 cms) Laptop (Gold Processor 4425Y/8GB/128GB SSD/Windows 10 Home in S Mode/Intel UHD 615 Graphics), Platinum',
 'HP 14 Intel Core Pentium Gold Processor 14-inch Thin and Light Laptop (4GB/256GB SSD/Windows 10 Home/Jet Black/1.47 kg), 14q-cs0018TU',
 'HP 14 Intel Pentium N6000 14-inch(35.6 cm) Laptop (8GB/256GB SSD/Windows 10/MS Office/Jet Black/1.46Kg), 14s-dq3018TU',
 'HP 15 Intel Pentium Gold 6405U Processor Entry Level 39.62 cms(15.6-inch) FHD Laptop (4GB/1TB/Win 10/Jet Black/1.74kg), 15s-du1052tu',
 'ASUS E410MA-EK319T Intel Pentium Silver N5030 Quad Core 14 inches FHD (1920 X 1080) LED Laptop (4GB RAM/256GB PCIe SSD/UHD 605 Graphics/Number Pad/Windows 10 Home, Peacock Blue, 1.3Kg)',
 'ASUS Intel Pentium Quad Core 15.6 inches Business Laptop (4 GB/1 TB HDD/1366 X 768 HD/Windows 10 Home) Transparent Silver, 1.9 kg - X543MA-GQ1020T',
 'Lenovo IdeaPad 110-15IBR 80T700H0IH Intel Pentium N3710 15.6 inches Laptop (4GB/1TB/DOS/Integrated Graphics), Black Texture, 2.2kg',
 'Acer Acer One Intel Pentium Gold 4415U Processor 14" (35.56cms) Display 1366 x 768 Laptop (4 GB Ram/1TB HDD/Windows 10 Home/Integrated Graphics/Black/1.8kgs), Z2-485',
 '(Renewed) Acer Extensa 15 Thin & Light Intel Processor Pentium Silver N5030 15.6 inches Business Laptop (4GB RAM/1TB HDD/Windows 11 Home/Black/1.9 Kg, EX215-31)']

In [81]:
Laptop_Rating = driver.find_elements(By.XPATH,'//span[@class="a-icon-alt"]')
len(Laptop_Rating)

26

In [82]:
Laptop_Rating1=[]
for i in Laptop_Rating:
    Laptop_Rating1.append(i.text)
    len(Laptop_Rating1)

In [83]:
Laptop_Rating1

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [155]:
Laptop_Price = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
len(Laptop_Price)

19

In [156]:
Laptop_Price1=[]
for i in Laptop_Price:
    Laptop_Price1.append(i.text)
    len(Laptop_Price1)

In [157]:
Laptop_Price1

['30,990',
 '30,490',
 '26,900',
 '27,990',
 '24,642',
 '49,936',
 '31,651',
 '28,990',
 '26,990',
 '25,990',
 '63,980',
 '31,990',
 '30,990',
 '26,695',
 '36,600',
 '26,990',
 '26,490',
 '34,392',
 '30,490']

In [158]:
import pandas as pd
df=pd.DataFrame()
df['Laptop_Title'] = Laptop_Title1[0:10]
df['Laptop_Rating'] = Laptop_Rating1[0:10]
df['Laptop_Price'] = Laptop_Price1[0:10]

In [159]:
df

,Laptop_Title,Laptop_Rating,Laptop_Price
0,"ASUS VivoBook 14 (2021), 14-inch (35.56 cm) HD...",,"30,990"
1,"Dell New Inspiron 3521 Laptop, Intel Pqc-N5030...",,"30,490"
2,Acer Extensa 15 Thin & Light Intel Processor P...,,"26,900"
3,Acer Extensa 15 Thin & Light Intel Processor P...,,"27,990"
4,"Microsoft Surface GO 3 8VA-00013 10.5"" (26.67 ...",,"24,642"
5,Hp 14S-Intel Pentium Silver N6000- 8Gb Ram/256...,,"49,936"
6,Acer Travelmate Intel® Pentium® Gold 7505 Proc...,,"31,651"
7,Asus Pentium Quad Intel Core - (4 Gb/1 Tb Hdd/...,,"28,990"
8,Acer Travelmate Business Laptop Intel Pentium ...,,"26,990"
9,"ASUS Windows 11 Home VivoBook 13 Slate OLED, I...",,"25,990"

In [ ]:
#Q9 Data Scientist Data

In [160]:
# Connect to webdriver
driver = webdriver.Chrome(r'C:\Users\COTMAC\Downloads\chromedriver_win32\chromedriver.exe')

In [161]:
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [162]:
Jobs=driver.find_element(By.XPATH,"/html/body/div[1]/nav/nav/a[6]")
Jobs

In [163]:
Jobs.click()

In [164]:
search_name=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
search_name

In [165]:
search_name.send_keys("Data Scientist")

In [166]:
search4=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button")
search4

In [167]:
search4.click()

In [168]:
Locationclick=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/i")
Locationclick

In [169]:
Locationclick.click()

In [180]:
search_name2=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
search_name2

In [181]:
search_name2.send_keys("Noida")

In [182]:
selectlocation=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label")
selectlocation

In [183]:
selectlocation.click()

In [184]:
Job_Names = driver.find_elements(By.XPATH,'//a[@class="title noclick"]')
len(Job_Names)

10

In [185]:
Job_Names1=[]
for i in Job_Names:
    Job_Names1.append(i.text)
    len(Job_Names1)

In [186]:
Job_Names1

['Senior Data Scientist',
 'Data Scientist- Forecasting and R or Python',
 'Data Scientist',
 'Data Scientist - Machine Learning/Big Data (0-4 yrs)',
 'Data Scientist - Machine Learning Algorithms (3-8 yrs)',
 'Info Edge - Data Scientist - Machine Learning/NLP (0-2 yrs)',
 'Info Edge - Senior Data Scientist - Machine Learning/Deep Learning (3-5 yrs)',
 'LatentBridge - Data Scientist - Python/R (2-6 yrs)',
 'Data Scientist - NLP',
 'Principal Scientist - Machine Learning - IT (15-26 yrs)']

In [187]:
import pandas as pd
df = pd.DataFrame()
df['Job Names'] = Job_Names1[0:10]

In [188]:
df

                                           Job Names
0                              Senior Data Scientist
1        Data Scientist- Forecasting and R or Python
2                                     Data Scientist
3  Data Scientist - Machine Learning/Big Data (0-...
4  Data Scientist - Machine Learning Algorithms (...
5  Info Edge - Data Scientist - Machine Learning/...
6  Info Edge - Senior Data Scientist - Machine Le...
7  LatentBridge - Data Scientist - Python/R (2-6 ...
8                               Data Scientist - NLP
9  Principal Scientist - Machine Learning - IT (1...

In [ ]:
#Q10.Scrapped Salary data

In [4]:
# Connect to webdriver
driver = webdriver.Chrome(r'C:\Users\COTMAC\Downloads\chromedriver_win32\chromedriver.exe')

In [5]:
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [6]:
Salary_click=driver.find_element(By.XPATH,"/html/body/div[1]/nav/nav/a[4]")
Salary_click

In [7]:
Salary_click.click()

In [8]:
search_name5=driver.find_element(By.XPATH,"/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
search_name5

In [9]:
search_name5.send_keys("Data Scientist")

In [10]:
Name_click=driver.find_element(By.XPATH,"/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p")
Name_click

In [11]:
Name_click.click()

In [12]:
Company_Name = driver.find_elements(By.XPATH,'//div[@class="company-info"]')
len(Company_Name)

25

In [13]:
Company_Name1=[]
for i in Company_Name[0:10]:
    Company_Name1.append(i.text)
    len(Company_Name1)

In [14]:
Company_Name1

['Walmart\nData Scientist Salary\n3 yrs experience (based on 12 salaries)',
 'Ab Inbev\nData Scientist Salary\n3-4 yrs experience (based on 33 salaries)',
 'ZS\nData Scientist Salary\n2 yrs experience (based on 15 salaries)',
 'Optum\nData Scientist Salary\n3-4 yrs experience (based on 32 salaries)',
 'Reliance Jio\nData Scientist Salary\n3-4 yrs experience (based on 21 salaries)',
 'Fractal Analytics\nData Scientist Salary\n2-4 yrs experience (based on 89 salaries)',
 'Tiger Analytics\nData Scientist Salary\n2-4 yrs experience (based on 51 salaries)',
 'UnitedHealth\nData Scientist Salary\n2-4 yrs experience (based on 57 salaries)',
 'EXL Service\nData Scientist Salary\n3-4 yrs experience (based on 21 salaries)',
 'Deloitte\nData Scientist Salary\n2-4 yrs experience (based on 69 salaries)']

In [42]:
Toatal_salary = driver.find_elements(By.XPATH,'//span[@class="datapoints"]')
len(Toatal_salary)

10

In [43]:
Toatal_salary1=[]
for i in Toatal_salary:
    Toatal_salary1.append(i.text)
    len(Toatal_salary1)

In [44]:
Toatal_salary1

['(based on 12 salaries)',
 '(based on 33 salaries)',
 '(based on 15 salaries)',
 '(based on 32 salaries)',
 '(based on 21 salaries)',
 '(based on 89 salaries)',
 '(based on 51 salaries)',
 '(based on 57 salaries)',
 '(based on 21 salaries)',
 '(based on 69 salaries)']

In [45]:
Average_salary = driver.find_elements(By.XPATH,'//p[@class="averageCtc"]')
len(Average_salary)

10

In [46]:
Average_salary1=[]
for i in Average_salary:
    Average_salary1.append(i.text)
    len(Average_salary1)

In [47]:
Average_salary1

['₹ 30.6L',
 '₹ 20.8L',
 '₹ 16.7L',
 '₹ 15.9L',
 '₹ 15.7L',
 '₹ 15.5L',
 '₹ 14.8L',
 '₹ 14.0L',
 '₹ 13.2L',
 '₹ 12.8L']

In [48]:
Minimum_salary = driver.find_elements(By.XPATH,'//div[@class="salary-values"]/div[1]')
len(Minimum_salary)

10

In [49]:
Minimum_salary1=[]
for i in Minimum_salary:
    Minimum_salary1.append(i.text)
    len(Minimum_salary1)

In [50]:
Minimum_salary1

['₹ 25.0L',
 '₹ 15.0L',
 '₹ 11.0L',
 '₹ 11.0L',
 '₹ 5.6L',
 '₹ 10.0L',
 '₹ 9.0L',
 '₹ 8.3L',
 '₹ 7.6L',
 '₹ 7.0L']

In [51]:
Maximum_salary = driver.find_elements(By.XPATH,'//div[@class="salary-values"]/div[2]')
len(Maximum_salary)

10

In [52]:
Maximum_salary1=[]
for i in Maximum_salary:
    Maximum_salary1.append(i.text)
    len(Maximum_salary1)

In [53]:
Maximum_salary1

['₹ 36.0L',
 '₹ 26.2L',
 '₹ 22.0L',
 '₹ 22.5L',
 '₹ 26.2L',
 '₹ 23.0L',
 '₹ 20.0L',
 '₹ 21.1L',
 '₹ 21.0L',
 '₹ 25.0L']

In [54]:
Experience = driver.find_elements(By.XPATH,'//div[@class="sbold-list-header"]')
len(Experience)

10

In [55]:
Experience1=[]
for i in Experience:
    Experience1.append(i.text)
    len(Experience1)

In [56]:
Experience1

['3 yrs experience (based on 12 salaries)',
 '3-4 yrs experience (based on 33 salaries)',
 '2 yrs experience (based on 15 salaries)',
 '3-4 yrs experience (based on 32 salaries)',
 '3-4 yrs experience (based on 21 salaries)',
 '2-4 yrs experience (based on 89 salaries)',
 '2-4 yrs experience (based on 51 salaries)',
 '2-4 yrs experience (based on 57 salaries)',
 '3-4 yrs experience (based on 21 salaries)',
 '2-4 yrs experience (based on 69 salaries)']

In [57]:
import pandas as pd
df = pd.DataFrame()
df['Company_Name'] = Company_Name1[0:10]
df['Toatal_salary'] = Toatal_salary1[0:10]
df['Average_salary'] = Average_salary1[0:10]
df['Minimum_salary'] = Minimum_salary1[0:10]
df['Maximum_salary'] = Maximum_salary1[0:10]
df['Experience'] = Experience1[0:10]

In [58]:
df

,Company_Name,Toatal_salary,Average_salary,Minimum_salary,Maximum_salary,Experience
0,Walmart\nData Scientist Salary\n3 yrs experien...,(based on 12 salaries),₹ 30.6L,₹ 25.0L,₹ 36.0L,3 yrs experience (based on 12 salaries)
1,Ab Inbev\nData Scientist Salary\n3-4 yrs exper...,(based on 33 salaries),₹ 20.8L,₹ 15.0L,₹ 26.2L,3-4 yrs experience (based on 33 salaries)
2,ZS\nData Scientist Salary\n2 yrs experience (b...,(based on 15 salaries),₹ 16.7L,₹ 11.0L,₹ 22.0L,2 yrs experience (based on 15 salaries)
3,Optum\nData Scientist Salary\n3-4 yrs experien...,(based on 32 salaries),₹ 15.9L,₹ 11.0L,₹ 22.5L,3-4 yrs experience (based on 32 salaries)
4,Reliance Jio\nData Scientist Salary\n3-4 yrs e...,(based on 21 salaries),₹ 15.7L,₹ 5.6L,₹ 26.2L,3-4 yrs experience (based on 21 salaries)
5,Fractal Analytics\nData Scientist Salary\n2-4 ...,(based on 89 salaries),₹ 15.5L,₹ 10.0L,₹ 23.0L,2-4 yrs experience (based on 89 salaries)
6,Tiger Analytics\nData Scientist Salary\n2-4 yr...,(based on 51 salaries),₹ 14.8L,₹ 9.0L,₹ 20.0L,2-4 yrs experience (based on 51 salaries)
7,UnitedHealth\nData Scientist Salary\n2-4 yrs e...,(based on 57 salaries),₹ 14.0L,₹ 8.3L,₹ 21.1L,2-4 yrs experience (based on 57 salaries)
8,EXL Service\nData Scientist Salary\n3-4 yrs ex...,(based on 21 salaries),₹ 13.2L,₹ 7.6L,₹ 21.0L,3-4 yrs experience (based on 21 salaries)
9,Deloitte\nData Scientist Salary\n2-4 yrs exper...,(based on 69 salaries),₹ 12.8L,₹ 7.0L,₹ 25.0L,2-4 yrs experience (based on 69 salaries)